.btn-success {
  background-color: var(--color-info);
}
.btn-outline {
  font-weight: bold;
  color: green;
  background-color: transparent;
  border: solid 2px var(--color-info);
  padding: 0.55rem 1.25rem;
}
.btn-outline:hover {
  background-color: white;
}
.btn {
  margin: 2rem;
}
.btn-floating {
  /* position: fixed; */
}
