.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center !important;
  align-items: center;
  border-radius: 8px;
  padding: 1rem;
  border: solid 1px var(--color-text-subheading);
}
.card-title {
  font-weight: bolder;
  font-size: 1.5rem;
}
.card-subtitle {
  font-weight: bold;
  color: var(--color-text-subheading);
  padding-top: 4px;
}

.card-text {
  font-weight: 600;

  color: var(--color-text-content);
}

.card-badge {
  position: absolute;
  top: 1rem;
  background-color: var(--color-info);
  padding: 1rem 0.5rem;
}
.card-relative {
  position: relative;
  width: 300px;
  margin-left: 1rem;
  background-color: #cad5e2;
}
.card-image {
  border-radius: 1rem;
}
.card-disabled {
  position: relative;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-footer i {
  color: var(--color-text-subheading);
}
.text-overlay {
  position: absolute;
  top: 6rem;
  font-size: 4rem;
  transform: rotate(45deg);
  color: red;
  background-color: grey;
}
.card-shadow {
  width: 300px;
  background-color: #38cc77;
  box-shadow: 0 10px 10px rgb(252, 17, 111);
}
.card-horizontal {
  display: flex;
  width: 350px;
  border: 1px dotted blue;
  box-shadow: 0 4px 4px rgb(252, 17, 111);

}
