.divider {
  height: 2px;
  width: 80%;
  margin: 2rem auto;

  background-color: var(--color-text-content);
}
.divider-mini {
  height: 1px;
  width: 70%;
  margin: 1rem auto;

  background-color: var(--color-text-subheading);
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.heading {
  color: var(--color-text-blue-heading);
  font-size: 3rem;
  text-align: center;
}
.subheading {
  color: #207398;
  font-weight: bold;
  font-size: 2rem;
}
.content {
  color: var(--color-text-content);
  /* background-color: red; */
}
.component-image {
  max-height: 20vh;
}
.coder-code-image {
  max-height: 20vh;

  object-fit: contain;
}
