* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #242b2e;
}

/* tag coustomize */
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
i,
button {
  margin: 1rem;
}

li {
  list-style-type: none;
  margin: 0.3rem;
}
a {
  text-decoration: none;
}

button {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;

  padding: 14px 16px;
  text-align: center;
}

button:hover {
  background-color: #f082ac;
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top center;
  margin: 1rem;
  /* aspect-ratio: 2/1; */
}

/*  text responsive  */
.text-xlg {
  font-size: 3rem;
}
.text-lg {
  font-size: 2.5rem;
}
.text-md {
  font-size: 2rem;
}
.text-sm {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* mostly used css  */
.container {
  width: 100%;
  margin: 0 auto;
}
.container-fluid {
  width: 80%;
  margin: 0 auto;
}
.component-example {
  margin: 1rem;
  border: dotted 1px blue;

  box-shadow: 4px 3px 3px rgba(25, 34, 29, 0.4);
}
/*  */
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.mt-1 {
  margin-top: 1rem !important;
}
