@import "./var.css";

.side-navbar {
  margin-top: 10vh;
  max-width: 25vw;
  background-color: #46b2e0;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  margin-right: 1rem;
}
.side-navbar li a {
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
  box-shadow: 0 10px 10px rgba(235, 25, 110, 1) !important;
}
.side-navbar li a:hover {
  background-color: var(--color-space);
  color: var(--color-danger);
  padding: 1.3rem;
}
.docs-area {
  display: flex;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.component-area {
  margin-left: 24vw;
  max-width: 80vw;
  margin-top: 10vh;
}
iframe {
  overflow: scroll;
  max-width: 20vw;
  max-height: 40vh;
}
