@import "./var.css";

.side-navbar {
  margin-top: 10vh;
  width: 18%;
  background-color: var(--color-sucess);
  height: 100vh;
  overflow: scroll;
  position: fixed;
  margin-right: 1rem;
}
.side-navbar li a {
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
  box-shadow: 0 10px 10px rgba(235, 25, 110, 1) !important;
}
.side-navbar li a:hover {
  background-color: var(--color-space);
  color: var(--color-danger);
  padding: 1.3rem;
}
.docs-area {
  display: flex;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.component-area {
  margin-left: 25rem;
  margin-top: 10vh;
}
@media (max-width: 800px) {
  .component-area {
    margin-left: 10rem;
  }
}
@media (max-width: 1200px) {
  .component-area {
    margin-left: 15rem;
  }
}
