.toast-relative {
  position: relative;
}

#snackbar {
  visibility: hidden;

  background-color: black;
  border-radius: 1px;
  padding: 3rem;
  position:   absolute;
  z-index: 1;
  font-weight: 900;
  top: 30;
  left: 30;
  color: white;
}
#snackbar.show {
  visibility: visible;
}
