:root {
  --color-sucess: #4dd637;
  --color-info: #03c6c7;
  --color-wait: #f4be2c;
  --color-space: #03203c;
  --color-danger: #d82e2f;
  --color-fancy: #e07c24;
  --color-blue: #3944f7;
  --color-neon: #39ff14;

  --color-text-heading: #000000;
  --color-text-subheading: #2e2e2e;
  --color-text-content: #5c5c5c;
  --color-text-subheading: #9a9a9a;

  --color-text-green: #02b290;
  --color-text-blue-heading: #3944f7;
  --color-text-blue-subheading: #12b0e8;
}
.text-green {
  color: var(--color-text-green);
}

.text-blue-subheading {
  color: var(--color-text-blue-subheading);
}
.bg-info {
  /* background-color: #46B2E0; */
  color: var(--color-text-green);
}
