:root {
  --color-sucess: #4dd637;
  --color-info: #03c6c7;
  --color-wait: #f4be2c;
  --color-space: #03203c;
  --color-danger: #d82e2f;
  --color-fancy: #e07c24;
  --color-blue: #3944F7;
  --color-neon: #39ff14;

  --color-text-heading: #020202;
  --color-text-heading-mini: #0b0b0b;
  --color-text-content: #282828;
  --color-text-subheading: #9a9a9a;
}
.bg-sucess {
  background-color: var(--color-sucess);
}
.bg-info {
  background-color: var(--color-info);
}
.bg-wait {
  background-color: var(--color-wait);
}
.bg-space {
  background-color: var(--color-space);
}
.bg-danger {
  background-color: var(--color-danger);
}
.bg-fancy {
  background-color: var(--color-fancy);
}
/* text */

.text-info {
  color: var(--color-info);
}
.text-sucess {
  color: var(--color-sucess);
}

.text-wait {
  color: var(--color-wait);
}
.text-space {
  color: var(--color-space);
}
.text-fancy {
  -color: var(--color-fancy);
}
.text-info {
  color: var(--color-info);
}
.p-1{
  padding: 1rem;
}