.nav {
  display: flex;
  font-size: 2rem;
  height: 10vh;
  background-color: #242b2e;
  border-bottom: 1px solid #5de3f0;
}
.nav-wraper {
  display: flex;

  width: 80%;
  margin: 0 auto;
}
.nav-left {
  display: flex;
  text-align: center;

  align-items: center;
  /* margin-left: 10vw; */
}
.nav-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-link {
  margin: 1rem;
  color: #50dbb4;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link:hover {
  color: var(--color-sucess);
  font-weight: 500;
}
@media (max-width: 768px) {
  .nav-wraper {
    width: 100%;
  }
}
