.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 5px;
  font-weight: bold;
}
.alert-danger {
  background-color: var(--color-danger);
}
.alert-sucess {
  background-color: var(--color-sucess);
}
.alert-info {
  background-color: var(--color-info);
}
.alert-wait {
  background-color: var(--color-wait);
}

.alert-btn {
  background-color: var(--color-space);
}
