.badge {
  position: relative;
  margin-top: 1rem;
}

.badge-status {
  position: absolute;
  bottom: 0.1rem;
  width: 10px;
  height: 10px;
  border-radius: 1rem;
  top: 66px;
  left: 65px;
  padding: 0.5rem;
}

.badge-offline {
  background-color: var(--color-space);
}
.badge-online {
  background-color: var(--color-sucess);
}
.badge-ideal {
  background-color: red;
}
/* Badge on icon  */

.badge-icon {
  position: relative;

  margin: 1rem;
}
.badge-icon-text {
  background-color: red;
  position: absolute;
  border-radius: 1rem;
  padding: 3px 2px;
  left: 1.8rem;
  font-weight: 700;
}
.badge-icon-sucess {
  color: greenyellow;
}
.badge-icon-info {
  color: pink;
  font-family: "Helvetica Neue", Helvetica;
}
