.btn {
  margin: 1rem;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;

  padding: 4px;
  text-align: center;
}

.btn-info {
  background-color: var(--color-info);
}
.btn-danger {
  background-color: var(--color-danger);
  transition: all 0.7s;
}
.btn-success {
  background-color: #02b290;

  transition: all 0.7s;
}
.btn-space {
  background-color: var(--color-space);
}
/*  outline  btn */
.btn-outline-success {
  font-weight: bold;
  color: var(--color-sucess);
  border: solid 2px var(--color-sucess);
  padding: 0.55rem 1.25rem;
}
.btn-outline-danger {
  font-weight: bold;
  color: var(--color-danger);
  border: solid 2px var(--color-danger);
  padding: 0.55rem 1.25rem;
}
.btn-outline-wait {
  font-weight: bold;
  color: var(--color-wait);
  border: solid 2px var(--color-wait);
  padding: 0.55rem 1.25rem;
}
/* link */
.btn-link {
  text-align: center;
}
/* floating */
.btn-floating {
  border-radius: 50%;
  margin: 1rem;
  border: none;
  padding: 1rem;
}
/* hover  */
.btn-space:hover {
  background-color: #207398;
}

.btn-info:hover {
  background-color: skyblue;
  transition: all 0.7s;
}
.btn-success:hover {
  background-color: #50dbb4;
  transition: all 0.7s;
}
.btn-danger:hover {
  background-color: #ef5354;
  transition: all 0.7s;
}

.btn-outline-success:hover {
  background-color: var(--color-sucess);
  color: white;
  transition: all 0.7s;
}
.btn-outline-wait:hover {
  background-color: var(--color-wait);
  transition: all 0.7s;
  color: white;
}
.btn-outline-danger:hover {
  background-color: var(--color-danger);
  transition: all 0.7s;
  color: white;
}
