.card {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  border-radius: 8px;
  padding: 1rem;
  border: solid 1px var(--color-text-subheading);
  box-shadow: 0px 1px 2px grey;
  margin: 2rem auto;
  background-color: white;
}

.card-title {
  font-weight: bolder;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-text-content);
  margin-top: 1rem;
}
.card-subtitle {
  font-weight: bold;
  text-align: center;
  color: var(--color-text-subheading);
  margin-bottom: 1rem;
}
.card-content {
  margin: 1rem 0rem;
  font-weight: 500;
  color: var(--color-text-content);
  font-family: monospace;
  width: 80%;
  margin: 0 auto;
}
.card-price {
  font-weight: 700;
  color: green;
  margin: 0.5rem 0rem;
  font-size: 1.3rem;
}
.card-price-mrp {
  color: grey;
}
.card-disount {
  color: orange;
}
.card-image {
  border-radius: 1rem;
  max-height: 250px;
  object-fit: contain;
  overflow: hidden;
}
.card-footer {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}
.card-link {
  margin: 0rem 0.5rem;
}
.card-footer i {
  color: var(--color-danger);
}
/*  text */
.card-with-text {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  border-radius: 8px;
  padding: 1rem;
  border: solid 1px var(--color-text-subheading);
  box-shadow: 0px 1px 2px grey;
  margin: 2rem auto;
  background-color: white;
}
/* badge  */
.card-deteils {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-pricing-detail {
  margin: 0.6rem 0rem;
}
.card-button {
  display: flex;
}
.card-badge {
  position: absolute;
  top: -3px;
  left: 6px;
  background-color: var(--color-info);
  padding: 1rem 0.5rem;
}

/* card disabled  */
.card-disabled {
  opacity: 0.4;
}

.text-overlay {
  position: absolute;
  bottom: 40%;
  left: 10%;
  font-size: 4rem;
  transform: rotate(30deg);
  color: #e21717;
  fontweight: bold;
  z-index: 1;
  text-shadow: 4px 2px yellowgreen;
}

/* card dismiss */
.card-dismiss-btn {
  position: absolute;
  top: 4px;
  right: 5px;

  background-color: var(--color-danger);
  padding: .7rem 0.4rem;
}
/* card shadow  */
.card-shadow {
  width: 300px;
  background-color: #0d0d0d;
  box-shadow: 6px 11px 12px rgb(70, 65, 67);
  margin: 2rem auto;
  border-radius: 1rem;
}

.card-text-glow {
  color: var(--color-neon);
}
/* Card horizontal alignment*/
.card-horizontal {
  display: flex;
  width: 350px;
  box-shadow: 0 0px 2px rgb(252, 17, 111);
  margin: 1rem;
  margin: 0 auto;
}

.card-horizontal-title {
  font-weight: bolder;
  font-size: 1.5rem;
  color: blue;
}
.card-image-horizontal {
  max-width: 30vw;
  max-height: 15vh;
}

.card-horizontal-content {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-horizontal-btn {
  margin: 0.3rem 0.3rem;
  border: 2px solid silver;
}
.card-horizontal-share {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
/* hover  */
.card:hover,
.card-with-text:hover {
  box-shadow: 3px 0px 10px 5px grey;
  transition: all 0.8s;
}
.card-shadow:hover {
  box-shadow: 6px 5px 5px 4px greenyellow;

  transition: all 0.8s;
}
.card-horizontal:hover {
  transition: all 0.8s;
}
