.input {
  padding: 2rem;
  margin: 1rem 2rem;
}

.input-box {
  margin-left: 2rem;
}
.input-label {
  font-size: 1.2rem;
  color: var(--color-text-content) !important;
  margin-left: 2rem;
  padding-bottom: 0.3rem;
}
.input-field {
  padding: 0.5rem 1rem;
  margin: 4px 5px;
  border: 2px solid var(--color-text-subheading);
  border-radius: 0.7rem;
  border-radius: 2px;
b
  outline: none;
  transition: all 0.3s ease;
}

.input-textarea {
  display: flex;
  align-items: center;
  border-radius: 2px;
  line-height: 1.5;
  outline: none;
}

/* error  */
.email-error {
  margin: 2rem;
  display: inline-block;
}
#email-error {
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
}
.input-err-msg {
  color: red;
  margin: 0;
  font-size: 0.7rem;
  margin-left: 4.5rem;
}
/* effect */
.checkbox,
.radio-btn {
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  text-color: var(--color-text-subheading);
  color: #525252;
}
.input-field:focus {
  border: 2px solid var(--color-space);
  transition: all 0.5s;
}
