.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem auto;
  max-width: 70%;
  text-align: center;
}

/* 2 item  */

.grid-col-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
/* 3 item */
.grid-item-1 {
  background-color: #242B2E;
}
.grid-item-2 {
  background-color: #cad5e2;
  font-weight: 500;
}
.grid-item-3 {
  grid-column: 1/3;
  overflow: hidden;
}
.grid-img-responsive {
  margin: 0;
  max-height: 30vh;
  min-width: 70vw;
  object-fit: cover;
  max-width: 70%;
}
