.img-responsive {
  width: 80%;
  margin: 1rem 3rem;
  border-radius: 0.5rem;
  object-position: center;
  object-fit: cover;
}
.round-img {
  margin-left: 1rem;
  object-fit: cover;
  border-radius: 50%;
}
.round-image-wrapper {
  height: 300px;
}
