.img-fluid {
  width: 80%;
  margin: 1rem 3rem;
  border-radius: 0.5rem;
  object-position: center;
  object-fit: cover;
}

.round-img {
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
  width: 80%;
  margin: 1rem 3rem;
}
