.modal {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  flex-direction: column;
  transition: all 0.4s;
  visibility: hidden;
  width: 60%;
  margin: 0 auto;
}
.modal:target {
  visibility: visible;
}
.modal-content {
  position: absolute;
  background-color: #FF6666;
  width: 500px;
  top: -10;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 15px;
}
