
.rating-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 1rem auto;
    flex-direction: column;
    border-radius: 12px;
}



.rating-stars-container{
    display: flex;
}

.star{
    font-size: 3rem;
    color: var(--color-wait);
}

.star:hover{
    cursor: pointer;
}