.toast-section {
  min-height: 20vh;
}

.toast {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

#snackbar {
  visibility: hidden;
  background-color: #e5d68a;
  border-radius: 1px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  font-weight: 900;
  top: 30;
  left: 40%;
  margin: 1rem auto;
  color: white;
  font-size: 1.5rem;
}
#snackbar.show {
  visibility: visible;
}
