@import "./var.css";
body {
  background-color: #f3f3f2;
}
.side-navbar {
  margin-top: 10vh;
  max-width: 25vw;
  background-color: #242b2e;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  margin-right: 1rem;
}
.heading-intro {
  color: var(--color-info);
  text-align: center;

  font-size: 2.5rem;
  font-family: "DM Sans", sans-serif;
  margin: 0 1rem;
}
.subheading-intro {
  color: #e83a59;
  text-align: center;
  font-size: 2.2rem;
  font-family: cursive;
  margin: 0 1rem;
}
.side-navbar li a {
  margin: 1rem;
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
  box-shadow: 0 1px 0px grey;
  color: #50dbb4;
  font-weight: 600;
  font-family: monospace;
}

.side-navbar li a:hover {
  background-color: var(--color-space);
  color: var(--color-info);

  padding: 1.3rem;
}
.docs-area {
  display: flex;
}
.nav-fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.core-heading {
  margin: 1rem;
  color: #00d84a;
  text-shadow: 1px 1px 1px green;

  font-size: 3.5rem;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}
.core-heading-span {
  color: green;
}
.component-area {
  margin-left: 24vw;
  max-width: 80vw;
  margin-top: 10vh;
}

iframe {
  overflow: scroll;
  min-width: 60vw;
  max-width: 70vw;
  min-height: 30vh;
  max-height: 35vh;
}
